<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=data.coupleInfo.groom.name%> ♡ <%=data.coupleInfo.bride.name%> 결혼식에 초대합니다 : MPnote 모바일 청첩장</title>
    <meta property="og:url" content="http://mcard.mpnote.com/card/<%=data.card_id%>" />
    <meta property="og:title" content="<%=data.coupleInfo.groom.name%> ♡ <%=data.coupleInfo.bride.name%> 결혼식에 초대합니다"/>
    <meta property="og:type" content="website"/>
		<meta property="og:image" content="http://mcard.mpnote.com<%=data.mainImgUrl%>"/>
    <meta property="og:description" content="<%=moment(data.marrageDate).format('YYYY년 MM월 DD일 HH시 mm분')%> <%=data.location.title%> 에서 열리는 <%=data.coupleInfo.groom.name%> ♡ <%=data.coupleInfo.bride.name%> 의 결혼식에 초대합니다."/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <!--
			<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=P5zQEA8giiDgTNi8AQxP&submodules=geocoder"></script>
		-->
		<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=eukbu61yy5"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  </head>
  <body>
    <Article role="main" id="root"></Article>
    <script src="/static/js/bundle.js"></script>
  </body>
</html>
